In [18]:
x = 5

In [19]:
x

5

In [21]:
y = 8

In [23]:
y

8

In [24]:
print (y)

8

In [25]:
x,y = (1,2)

In [26]:
x

1

In [27]:
y

2

In [28]:
x1 = 5

In [29]:
type(x1)

int

In [30]:
type(-6)

int

In [31]:
x2 = 4.75

In [32]:
type(x2)

float

In [33]:
x3 = True

In [34]:
type(x3)

bool

In [35]:
'George'

'George'

In [36]:
"George"

'George'

In [37]:
print ("George")

George

In [38]:
print ('George')

George

In [39]:
x4 = "George"
x4

'George'

In [42]:
y = 10
print (str(y) + " dollars")

10 dollars

In [43]:
"I'm fine"

"I'm fine"

In [44]:
print ("I'm fine!")

I'm fine!

In [47]:
'I\'m fine'

"I'm fine"

In [48]:
'red' 'car'

'redcar'

In [49]:
'red ' 'car'

'red car'

In [50]:
'red' + ' ' + 'car'

'red car'

In [51]:
print ('red' + ' ' + 'car')

red car

In [52]:
print ('Red', 'car')

Red car

In [53]:
print (3,5)

3 5

In [54]:
16 / 3

5.333333333333333

In [55]:
16 % 3

1

In [56]:
x = 5 * 3

In [57]:
x

15

In [58]:
5 ** 3

125

In [59]:
y == 125

False

In [3]:
#this is a comment
print (7,2)

7 2

In [4]:
2.0 * 1.5 + \
5

8.0

In [5]:
2.0 * 1.5 \
+ 5

8.0

### indexation

In [6]:
"Friday"[4]

'a'

In [7]:
'Holidays'[6]

'y'

### indentation

In [12]:
def five(x):
    x = 5
    return x
print (five(3))

5

### Comparaison operators

In [13]:
10 == 20/2

True

In [14]:
10 != 10

False

In [15]:
10 != 15

True

In [16]:
100 > 50

True

In [17]:
100 < 50

False

In [18]:
15 <= 10 + 5

True

In [19]:
True and True

True

In [20]:
True and False

False

In [21]:
False and False

False

In [22]:
False or False

False

In [23]:
True or True

True

In [24]:
True or False

True

In [25]:
not True

False

In [27]:
not False

True

In [28]:
3 > 5 and 10 <= 20

False

In [29]:
True and not True

False

In [30]:
False or not True and True

False

In [31]:
True and not True or True

True

### Identity operators

In [32]:
5 is 6

False

In [33]:
5 is not 6

True

### If (else) statement

In [36]:
if 5 == 15 / 3:
    print ("Hooray!")

Hooray!

In [38]:
if 5 != 3 * 6:
    print ("Hooray!")

Hooray!

In [40]:
x = 1

if x > 3:
    print ("Case 1")
else:
    print("Case 2")

Case 2

#### else if => written "elif" in Python

In [47]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [43]:
print (compare_to_five(10))

Greater

In [49]:
print (compare_to_five(2))

Less

In [45]:
print(compare_to_five(5))

Equal

In [48]:
print (compare_to_five(-3))

Negative

### Functions

In [50]:
def simple():
    print ("My first function")

In [51]:
simple()

My first function

In [52]:
def plus_ten(a):
    return a + 10

In [53]:
plus_ten(2)

12

In [54]:
plus_ten(5)

15

In [55]:
def plus_ten(a):
    result = a + 10
    return result

In [56]:
plus_ten(2)

12

In [58]:
def wage(w_hours):
    return w_hours * 25
def with_bonus(w_hours):
    return wage(w_hours) + 50

In [59]:
wage(8), with_bonus(8)

(200, 250)

In [60]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save more!"

In [61]:
add_10(110)

120

In [62]:
add_10(50)

'Save more!'

In [64]:
def subtract_bc(a, b, c):
    result = a - b*c
    print ("Parameter a equals ", a)
    print ("Parameter b equals ", b)
    print ("Parameter c equals ", c)
    return result

In [65]:
subtract_bc(10, 3, 2)

Parameter a equals  10
Parameter b equals  3
Parameter c equals  2

4

In [67]:
subtract_bc(b=3, a=10, c=2)

Parameter a equals  10
Parameter b equals  3
Parameter c equals  2

4

### Lists

In [69]:
Participants = ['John', 'Leila', 'Gregory', 'Cate' ]
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [72]:
print (Participants[1])

Leila

In [74]:
Participants[-2]

'Gregory'

In [75]:
Participants[3] = 'Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [98]:
del Participants[2]

In [77]:
Participants

['John', 'Leila', 'Maria']

In [99]:
Participants.append("Dwayne")
Participants

['John', 'Leila', 'Catherine', 'Dwayne']

In [79]:
Participants.extend(['George', 'Catherine'])

In [80]:
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [100]:
print ("The first participant is " + Participants[0] + ".")

The first participant is John.

In [101]:
len(Participants)

4

In [102]:
Participants

['John', 'Leila', 'Catherine', 'Dwayne']

In [103]:
Participants.append("George")

In [104]:
Participants

['John', 'Leila', 'Catherine', 'Dwayne', 'George']

#### slice

In [105]:
Participants[1:3]

['Leila', 'Catherine']

In [106]:
Participants[:2]

['John', 'Leila']

In [107]:
Participants[3:]

['Dwayne', 'George']

In [108]:
Participants[-2:]

['Dwayne', 'George']

In [109]:
Participants.index("Leila")

1

In [110]:
Newcomers = ['Joshua', 'Brittany']

In [111]:
Newcomers

['Joshua', 'Brittany']

In [112]:
Bigger_List = [Participants, Newcomers]
Bigger_List

[['John', 'Leila', 'Catherine', 'Dwayne', 'George'], ['Joshua', 'Brittany']]

In [113]:
Participants.sort()
Participants

['Catherine', 'Dwayne', 'George', 'John', 'Leila']

In [114]:
Participants.sort(reverse=True)

In [115]:
Participants

['Leila', 'John', 'George', 'Dwayne', 'Catherine']

In [116]:
Numbers = [1, 2, 3, 4, 5]

In [117]:
Numbers.sort()
Numbers

[1, 2, 3, 4, 5]

In [118]:
Numbers.sort(reverse=True)

In [119]:
Numbers

[5, 4, 3, 2, 1]

### Tuples

In [120]:
x = (40, 41, 42)
x

(40, 41, 42)

In [121]:
y = 50, 51, 52

In [122]:
y

(50, 51, 52)

In [123]:
a, b, c = 1, 4, 6
c

6

In [124]:
x[0]

40

In [125]:
List = [x, y]
List

[(40, 41, 42), (50, 51, 52)]

In [130]:
(age, years_of_school) = "30, 17".split(', ')
print (age)
print (years_of_school)

30
17

In [131]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print ("Area and perimeter: ")
    return A, P

square_info(3)

Area and perimeter:

(9, 12)

### Dictionaries

In [133]:
dict = {'k1': "cat", 'k2': "dog", 'k3': "mouse", 'k4': "fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [134]:
dict['k1']

'cat'

In [135]:
dict['k5'] = 'parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [137]:
dict['k2']= "squirrel"
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [139]:
dep_workers = {'dep1': 'Peter', 'dep2': ['Jennifer', 'Michael', 'Tommy']}
dep_workers['dep2']

['Jennifer', 'Michael', 'Tommy']

In [141]:
Team = {}
Team['Point Guard'] = 'Dirk'
Team['Shooting Guard'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

In [143]:
print (Team)

{'Point Guard': 'Dirk', 'Shooting Guard': 'Al', 'Small Forward': 'Sean', 'Power Forward': 'Alexander', 'Center': 'Hector'}

In [144]:
print (Team['Center'])

Hector

In [146]:
print (Team.get('Small Forward'))

Sean

In [149]:
print (Team.get('Coach'))

None

### For loops

In [151]:
even = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [159]:
for n in even:
    print (n, end=" ")

0 2 4 6 8 10 12 14 16 18 20

### While loops

In [163]:
x = 0
while x <= 20:
    print (x, end=" ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

### range(start, stop, step) function

In [167]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [168]:
list(range(1, 20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Conditional statements and loops

In [169]:
for n in range(10):
    print (2 ** n, end=" ")

1 2 4 8 16 32 64 128 256 512

In [172]:
for x in range(20):
    if x % 2 == 0:
        print (x, end = " ")
    else:
        print ("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [173]:
x = [0, 1, 2]

In [174]:
for item in x:
    print (item, end = " ")

0 1 2

In [177]:
for item in range(len(x)):
    print (x[item], end = " ")

0 1 2

In [179]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [182]:
list_1 = [ 1, 3, 7, 15, 23, 43, 56, 98, 17]

In [183]:
count(list_1)

5

In [186]:
prices = {
    "box of spaghetti": 4,
    "lasagna" : 5,
    "hamburger" : 2
    }
quantity = {
    "box of spaghetti" : 6,
    "lasagna": 10,
    "hamburger": 0
    }

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])
    
print (money_spent)

74

### Importing odules (4 ways)

#### 1. import

In [3]:
import math

In [4]:
math.sqrt(16)

4.0

#### 2. from (module) import (function) (if you only need 1 function of a module)

In [5]:
from math import sqrt

In [6]:
sqrt(25)

5.0

#### 3. from (module) import (function) as (variable) + import (module) as (variable)

In [7]:
from math import sqrt as s

In [8]:
s(36)

6.0

In [9]:
import math as m

In [10]:
m.sqrt(49)

7.0

#### 4. from (module) import * = import all features from module  = to be avoided

In [11]:
from math import *

In [12]:
sqrt(64)

8.0

In [13]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.7/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /home/sonia/anaconda3/lib/python3.7/lib-dynload/math.cpython-37m-x86_64-linux-gnu.so